@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
   margin: 0;
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}

body{
   width: 100vw;
   min-height: 100vh;
   background: url('Assets/bedroom.png') no-repeat;
   background-size: cover;
   background-position: center;
   
   text-align: center;
   color: #fff;
   padding: 5%;
   overflow: hidden;
}
body::before{
   content: '';
   position: absolute;
   inset: 0;
   z-index: -1;
   background: #fff;
   opacity: 0;
}
body.active::before{
   animation: fade 2s linear forwards;
}

@keyframes  fade {
   from{
      opacity: 1;
   }
   to{
      opacity: 0;
      z-index: 10;
   }
}
.decor{
   display: none;
}
.decor.active{
   display: block;
}

body.active .greetings{
   opacity: 0;
}
.greetings{
   position: relative;
   display: flex;
   justify-content: center;
}
.greetings h2{
   position: absolute;
   font-size: 3vw;
}
.greetings.active h2:first-child,
.greetings h2:last-child{
   opacity: 0;
   visibility: hidden;
   transition: 2s ease;
}
.greetings.active h2:last-child{
   opacity: 1;
   visibility: visible;
   transition: 5s ease;
}

.gift{
   position: absolute;
   z-index: 5;
   top: 50%;left: 50%;
   transform: translate(-50%, -50%);
   cursor: pointer;
   animation: shake 3s infinite;
}
@keyframes shake {
   0% {
      transform: translate(-50%, -50%) scale(1, 1);
   }
   50% {
      transform: translate(-50%, -50%) scale(1.25, 1.25);
   }
   100% {
      transform: translate(-50%, -50%) scale(1, 1);
   }
}
body.active .gift{
   opacity: 0;
}

.flags{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 20vw;
   
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.flags div{
   width: 50%;
}
.flags img{
   width: 100%;
   height: 100%;

   object-fit: contain;
}


.balloons img{
   position: absolute;
   top: 5vw;
   height: 40vw;
   z-index: 5;
   animation: dance 3s linear infinite;
}
.balloons img:first-child{
   left: 10%;
}
.balloons img:last-child{
   right: 10%;
}

@keyframes dance {
   0% {
      transform: translateY(0) rotate(0);
   }
   25% {
      transform: translateY(5%) rotate(3deg);
   }
   50% {
      transform: translateY(0) rotate(0);
   }
   75% {
      transform: translateY(-5%) rotate(-3deg);
   }
   100% {
      transform: translateY(0) rotate(0);
   }
}

.text{
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   bottom: -100%;
   width: min(500px, 100%);
   padding: 10px;
   
   font-size: 20px;
   transition: 2s ease;
   background: rgba(0, 0, 0, 0.5);
   backdrop-filter: blur(10px);
}
.text.active{
   bottom: 10%;
}
audio{
   opacity: 0;
}
@media screen and (max-width: 500px) {
   body{
      background: url('Assets/bedroom.png') no-repeat;
      background-size: cover;
      background-position: left;
      padding: 10% 5%;
   }
   .balloons img:first-child{
      top: 40vw;
      left: 10%;
   }
   .balloons img:last-child{
      top: 40vw;
      right: 10%;
   }
   
   .text{
      font-size: 5vw;
   }
   .greetings h2{
      font-size: 5vw;
   }
}